<head>
  <style>
  {
    height: 500px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
  .main{
 	margin:auto auto;
}

.main-center{
 	margin: 50px auto;
 	max-width: 400px;

}

.Verdana{
	font-family: 'Verdana';
}

.font-effect-anaglyph{
	font-family: 'font-effect-fire-animation';
}
</style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/store/index">Book Store</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/store/index">Home</a></li>
        <li><a href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155">Books</a></li>
        <li><a href="https://www.google.com.vn/search?q=news&oq=news&aqs=chrome..69i57.1334j0j7&sourceid=chrome&ie=UTF-8">News</a></li>
        <li><a href="/contact/index">Contact Us</a></li>
        <li><a href="/searches/new"> Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/users/new"> Sign Up</a></li>
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/carts/index"> Carts</a></li>
      </ul>
    </div>
  </nav>
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
    </div>
  </div>
          </form>
	</div>
  </body>
