// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<head>
  <style>
  {
    height: 500px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
  .main{
 	margin:auto auto;
}

.main-center{
 	margin: 50px auto;
 	max-width: 400px;

}

.Verdana{
	font-family: 'Verdana';
}

.font-effect-anaglyph{
	font-family: 'font-effect-fire-animation';
}
</style>
</head>
